body{
background-color:  rgba(0, 0, 0, 0.1);  
}

.head{
    
    background-color:#fafafa;
    height:63px;
}
#border {
    background-color:#fafafa;
    border: 2px solid #4a4747;
    padding: 10px;
    border-radius: 0px;
}
.head2
{
    
 background-image:url('images/house1.jpg');   
}
.text{
    color:white;
}
.border {
    background-color:#fafafa;
    border-right: 2px solid #4a4747;
    padding: 10px;
    border-radius: 0px;
}
.rightborder{
    background-color:#fafafa;
    border: 2px solid #4a4747;
    padding: 10px;
    border-radius: 0px;    
    
}