
.shadow{
	   padding: 10px;
	  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	
}
.career:hover {
    background-color: #463c6c;
    color:white;
}