body{
    background-color: white;
}
#border {
    border: 2px solid #4a4747;
    padding: 10px;
    border-radius: 10px;
}

.inputfield{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #eeeeee;
}
.leftDiv{
    padding: 10px;
    border-radius: 10px;
    background-color: #00b0ff;
}