body{

}
.divcolor{
background-color:#eeeeee;
}

#border {
    border: 2px solid #eeeeee;
    padding: 10px;
    border-radius: 10px;
}
#bracket1 {
    border-right: 2px solid #bdbdbd;
    padding: 10px;
    border-radius: 5px;
   
}
#pay{
    
      border-bottom: 2px solid #bdbdbd;
    padding: 10px;
    border-radius: 5px;
}
.cl
{
color: royalblue;
}
img {
    border-radius: 50%;
}
